# boardid.config

# Read the serial number from the Nerves environment block. The variable
# "nerves_serial_number" is the desired variable to use. "serial_number" is
# checked as a backup.
-b uboot_env -u nerves_serial_number
-b uboot_env -u serial_number

# The Tegra module serial number from the device tree
# (/proc/device-tree/serial-number).
-b device_tree

# Fall back to the MAC address of the first network interface.
-b macaddr
